body{
 background-image: url("remillabailando.gif");
 background-size:100% 100%;
 background-attachment: fixed;
 background-repeat: no-repeat;
 background-color: black;
font-size:16px;
}
h1{
  color:#36EC05;
}
a{
  color:red;
}
img{
  max-width: 100%;
  max-height: 100%;
  border: 18px ridge darkblue;
  }
p{
color:red;
